<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambulance Service Provider | Ambulance Request</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body>
<main class="container my-8 mx-3 content mt-3 grid  lg:grid-cols-1 gap-5 items-center justify-center">
    <span th:text="${fullname}" hidden class="loggedUser"></span>
    <form id="myform" th:action="@{/api/user/ambulance/request}" th:object="${userRequest}" method="post">
        <header class="text-center">
            <h2 class="font-bold text-2xl">Ambulance Request Service</h2>
            <span class="font-light">Please complete required information</span>
        </header>

        <div >
            <section>
                <section class="font-light items-center align-middle block"> <label>Name</label> <label class="text-red-400">*</label> </section>
                <input
                        type="text"
                        required
                        placeholder="Fullname"
                        class="passedName w-full p-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        th:field="*{userDTO.fullname}"
                />
                <span class="msg block text-orange-200 italic"></span>
            </section>

            <section>
                <section class="font-light items-center align-middle block"> <label>Contact</label> <label class="text-red-400">*</label> </section>
                <input
                        type="text"
                        required
                        placeholder="Phone Number"
                        class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        th:field="*{userDTO.contactNum}"
                />
            </section>

            <section>
                <section class="font-light items-center align-middle block"> <label>Address</label> <label class="text-red-400">*</label> </section>
                <input
                        type="text"
                        required
                        placeholder="Your Current Address"
                        class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        th:field="*{address}"
                />
            </section>

            <section>
                <label>Location <span>(Optional)</span> </label>
                <section class="flex mt-2 gap-3">
                    <input
                            type="text"
                            placeholder="Latitude"
                            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                            th:field="*{latitude}"
                    />
                    <input
                            type="text"
                            placeholder="Longtitude"
                            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                            th:field="*{longtitude}"
                    />
                </section>
            </section>

            <section>
                <section class="font-light items-center align-middle block"> <label>Emergency </label> <label class="text-red-400">*</label> </section>

                <input
                        type="text"
                        placeholder="Emergency Description"
                        id="emergency"
                        required
                        class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        th:field="*{emergencyDescription}"
                />
                <br>

            </section>


            <section class="flex justify-center p-2 mt-3 bg-emerald-400 w-fit text-white font-bold border-8 border-emerald-200">
                <h2>Emergency Level : </h2>
                <input type="text"
                       placeholder="N/A"
                       readonly
                       th:field="*{emergencyLevel}"
                       id="medical_output"
                       class="px-4 w-fit border-none rounded-md focus:outline-none"
                />
            </section>


            <section class="flex flex-col lg:flex-row gap-4 w-full">
                <button id="cBtn" class="border border-gray-600 py-3 w-80 rounded-2xl bg-blue-500 text-white mt-3 col-end-2">Request For Ambulance</button>
            </section>
        </div>
    </form>
    <form method="get" th:action="@{/api/user/requests/track}" class="flex flex-col lg:flex-row gap-4 w-full">
        <button id="tBtn" class="border border-gray-600 py-3 w-80 block rounded-2xl bg-blue-500 text-white mt-3 col-end-2">Track Requests</button>
    </form>
    <script>
        let allowed = false;
        let fullname = document.querySelector('.loggedUser');
        console.log(fullname.innerText);
        let nameInput = document.querySelector('.passedName');
        let msg = document.querySelector('.msg');
        nameInput.addEventListener('input',(event) => {
               console.log(nameInput.value);
               if(fullname.innerText === nameInput.value) {
                   allowed = true;
                   msg.innerText = "Your Name Matches Logged User";
               } else {
                   allowed = false;
                   msg.innerText = "Passed Name doesn't match logged in Name";
               }
        });
        let myForm = document.getElementById('myform');
        let cBtn = document.getElementById('cBtn');
        let eLevel=document.getElementById('medical_output');
        cBtn.addEventListener('submit', (event) => {
            event.preventDefault();
            if(allowed) {
                   myForm.submit();
            }
            else {
                   msg.innerText = "Passed Name doesn't match logged in Name";
            }
        });
    </script>
    <script th:src="@{/scripts/user_request.js}"></script>
</main>
</body>
</html>